<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="lessons.js"></script>
    <title>M00961778 CW1</title>
  </head>
  <body>
    <div id="app">
      <header>
        <h1 v-text="sitename"></h1>
      </header>
      <main>
        <div>
          <p>
            <input
              type="radio"
              v-model="sortBy"
              id="lesson"
              value="programme"
            />
            <label for="lesson"> Lesson </label>
          </p>
          <p>
            <input
              type="radio"
              v-model="sortBy"
              id="location"
              value="location"
            />
            <label for="location"> Location </label>
          </p>
          <p>
            <input type="radio" v-model="sortBy" id="price" value="price" />
            <label for="price"> Price </label>
          </p>
          <p>
            <input
              type="radio"
              v-model="sortBy"
              id="spaces"
              value="spacesAvailable"
            />
            <label for="spaces"> Spaces Available </label>
          </p>
        </div>
        <div>
          <p>
            <input
              type="radio"
              v-model="sortOrder"
              id="ascending"
              value="asc"
            />
            <label for="ascending"> Ascending </label>
          </p>

          <p>
            <input
              type="radio"
              v-model="sortOrder"
              id="decending"
              value="desc"
            />
            <label for="decending"> Descending </label>
          </p>
        </div>
        <div v-for="lesson in sortedLessons">
          <figure>
            <img v-bind:src="lesson.image" alt="" height="250px" />
          </figure>
          <h3>Lesson: {{lesson.programme}}</h3>
          <p>Location: {{lesson.location}}</p>
          <p>Price: {{lesson.price}}</p>
          <p>Spaces Available: {{lesson.spaces}}</p>
        </div>
      </main>
    </div>
    <script src="app.js"></script>
  </body>
</html>
